div{
  width:200px;
  height:200px;
  border:1px solid red;
  border-radius: 100%;
  background: green;
  background-image: url("../001_img/cat.jfif");
  background-size:cover;
}

img {
  border:10px groove orangered;
  border-radius: 100%;

}

.catone {
border:10px dashed orangered;
border-radius: 100%;

}

.cattwo {
  border:10px dotted orangered;
}

.catthree {
  border:10px double orangered;
}
